<div class="tweet-show">
  <div class="tweet-box">
    <h2 class="name">
      <%= @tweet.name %>
    </h2>

    <div class='tweet-img-content'>
      <%= image_tag @tweet.image, class:"tweet-box-img" %>
      <div class="tweet-explain-box">
        <span><%= @tweet.introduction %></span>
      </div>
      <% if user_signed_in? && current_user.id == @tweet.user_id %>
        <%= link_to '写真の編集', edit_tweet_path(@tweet), method: :get, class: "tweet-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', tweet_path(@tweet), method: :delete, class:'tweet-destroy' %>
      <% end %>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-tweet">投稿者</th>
          <td class="detail-value"><%= @tweet.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-tweet">ジャンル</th>
          <td class="detail-value"><%= @tweet.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-item">写真の場所</th>
          <td class="detail-value"><%= @tweet.place %></td>
        </tr>
        <tr>
          <th class="detail-item">写真のその他概要</th>
          <td class="detail-value"><%= @tweet.other %></td>
      </tbody>
    </table>
    <div class="container">
      <% if current_user %>
        <%= form_with(model: [@tweet, @comment], local: true) do |form|%>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "コメントする" %>
        <% end %>
      <% else %>
        <strong><p>*** コメントの投稿には新規登録/ログインが必要です ***</p></strong>
      <% end %>
      <div class="comments">
        <h4>＜コメント一覧＞</h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>